<!DOCTYPE html>
<html>
<head><title>Dashboard User</title></head>
<body>
    <h1>Riwayat Chat</h1>
    <ul>
        <% chats.forEach(chat => { %>
            <li>Pertanyaan: <%= chat.message %> - Jawaban: <%= chat.response %></li>
        <% }) %>
    </ul>
    <h1>Artikel Favorit</h1>
    <ul>
        <% favorites.forEach(art => { %>
            <li><a href="/article/<%= art.id %>"><%= art.title %></a></li>
        <% }) %>
    </ul>
</body>
</html>